*.suo
*.user
*.userprefs
*.[cC]ache
*.nupkg

*~
#*
.#*
.DS_Store
Thumbs.db

/Payplug/bin/*
/Payplug/obj/*
/Payplug.Tests/bin/*
/Payplug.Tests/obj/*
/Payplug.Tests/FakesAssemblies

*.StyleCop
TestResult.xml
TestResults/
packages/

